In [1]:
#Import modules
import pyspark
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
pd.read_csv('data.csv')

     Name  Age  Experience
0  Moises   22          10
1    Luis   18           4
2   Karla   30           2
3   Maria   15          23
4    Jose   51           8
5     Luz   35           4

In [3]:
#Create an Spark Session
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
# -- Read Dataset -- #
df_pyspark = spark.read.option('header', 'true').csv('data.csv', inferSchema=True)

In [5]:
# -- Check Schema -- #
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [6]:
# -- other way -- #
df_pyspark=spark.read.csv('data.csv', header=True, inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Moises| 22|        10|
|  Luis| 18|         4|
| Karla| 30|         2|
| Maria| 15|        23|
|  Jose| 51|         8|
|   Luz| 35|         4|
+------+---+----------+

In [7]:
df_pyspark.head(3)

[Row(Name='Moises', Age=22, Experience=10),
 Row(Name='Luis', Age=18, Experience=4),
 Row(Name='Karla', Age=30, Experience=2)]

In [8]:
# -- Select a column
df_pyspark.select(['Name', 'Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|Moises|        10|
|  Luis|         4|
| Karla|         2|
| Maria|        23|
|  Jose|         8|
|   Luz|         4|
+------+----------+

In [9]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [10]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+
|summary|  Name|               Age|       Experience|
+-------+------+------------------+-----------------+
|  count|     6|                 6|                6|
|   mean|  null|              28.5|              8.5|
| stddev|  null|13.307892395116516|7.687652437513028|
|    min|  Jose|                15|                2|
|    max|Moises|                51|               23|
+-------+------+------------------+-----------------+

In [11]:
# -- Adding columns -- #
df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2).show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience After 2 Years|
+------+---+----------+------------------------+
|Moises| 22|        10|                      12|
|  Luis| 18|         4|                       6|
| Karla| 30|         2|                       4|
| Maria| 15|        23|                      25|
|  Jose| 51|         8|                      10|
|   Luz| 35|         4|                       6|
+------+---+----------+------------------------+

In [12]:
# .. Dropping Columns -- #
df_pyspark.drop('Experience After 2 Years').show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|Moises| 22|        10|
|  Luis| 18|         4|
| Karla| 30|         2|
| Maria| 15|        23|
|  Jose| 51|         8|
|   Luz| 35|         4|
+------+---+----------+

In [13]:
# -- Rename Columns -- #
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|  Moises| 22|        10|
|    Luis| 18|         4|
|   Karla| 30|         2|
|   Maria| 15|        23|
|    Jose| 51|         8|
|     Luz| 35|         4|
+--------+---+----------+