In [5]:
import pyspark
from pyspark.sql import SparkSession

In [6]:
# Create Spark Session
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
df_spark=spark.read.csv('data1.csv', header=True, inferSchema=True)
df_spark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Moises|  22|        10| 24893|
|  Luis|  18|         4| 12064|
| Karla|  30|         2| 30548|
| Maria|  55|        23| 32637|
|  Jose|  51|         8| 19511|
|   Luz|  35|         4| 38491|
| Pedro|null|      null| 30000|
|  null|  34|        10| 38000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [9]:
# -- Drop the columns
df_spark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  22|        10| 24893|
|  18|         4| 12064|
|  30|         2| 30548|
|  55|        23| 32637|
|  51|         8| 19511|
|  35|         4| 38491|
|null|      null| 30000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [10]:
# -- Drop rows
df_spark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Moises| 22|        10| 24893|
|  Luis| 18|         4| 12064|
| Karla| 30|         2| 30548|
| Maria| 55|        23| 32637|
|  Jose| 51|         8| 19511|
|   Luz| 35|         4| 38491|
+------+---+----------+------+

In [12]:
# -- any==how
df_spark.na.drop(how='any').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Moises| 22|        10| 24893|
|  Luis| 18|         4| 12064|
| Karla| 30|         2| 30548|
| Maria| 55|        23| 32637|
|  Jose| 51|         8| 19511|
|   Luz| 35|         4| 38491|
+------+---+----------+------+

In [13]:
# -- threshold
df_spark.na.drop(how='any', thresh=2).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Moises|  22|        10| 24893|
|  Luis|  18|         4| 12064|
| Karla|  30|         2| 30548|
| Maria|  55|        23| 32637|
|  Jose|  51|         8| 19511|
|   Luz|  35|         4| 38491|
| Pedro|null|      null| 30000|
|  null|  34|        10| 38000|
+------+----+----------+------+

In [14]:
# -- Subset
df_spark.na.drop(how='any', subset=['Experience']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Moises| 22|        10| 24893|
|  Luis| 18|         4| 12064|
| Karla| 30|         2| 30548|
| Maria| 55|        23| 32637|
|  Jose| 51|         8| 19511|
|   Luz| 35|         4| 38491|
|  null| 34|        10| 38000|
+------+---+----------+------+

In [21]:
# -- Fill the missing value
df_spark.na.fill(20, ['Experience', 'age']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Moises| 22|        10| 24893|
|  Luis| 18|         4| 12064|
| Karla| 30|         2| 30548|
| Maria| 55|        23| 32637|
|  Jose| 51|         8| 19511|
|   Luz| 35|         4| 38491|
| Pedro| 20|        20| 30000|
|  null| 34|        10| 38000|
|  null| 36|        20|  null|
+------+---+----------+------+