In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
df_spark = spark.read.csv('data1.csv',header=True, inferSchema=True)
df_spark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Moises|  22|        10| 24893|
|  Luis|  18|         4| 12064|
| Karla|  30|         2| 30548|
| Maria|  55|        23| 32637|
|  Jose|  51|         8| 19511|
|   Luz|  35|         4| 38491|
| Pedro|null|      null| 30000|
|  null|  34|        10| 38000|
|  null|  36|      null|  null|
+------+----+----------+------+

In [5]:
## Filter Operation
df_spark.filter("Salary>30000").show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Karla| 30|         2| 30548|
|Maria| 55|        23| 32637|
|  Luz| 35|         4| 38491|
| null| 34|        10| 38000|
+-----+---+----------+------+

In [8]:
df_spark.filter("Salary>30000").select(['Name', 'Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Karla| 30|
|Maria| 55|
|  Luz| 35|
| null| 34|
+-----+---+

In [9]:
df_spark.filter((df_spark['Salary']>30000) & (df_spark['Age']<35)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Karla| 30|         2| 30548|
| null| 34|        10| 38000|
+-----+---+----------+------+