In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
df_pyspark=spark.read.csv('data2.csv', header=True, inferSchema=True)

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [9]:
## Groupby operation
df_pyspark.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|    Liza|      45000|
|     Luz|      38491|
|   Ramon|      20000|
|  Miriam|      12000|
|   Pedro|      30000|
|    Jose|      19511|
|Graciela|      19000|
|    Luis|      12064|
|  Moises|      24893|
|   Maria|      32637|
|   Karla|      30548|
+--------+-----------+

In [11]:
### Group By departments
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|   20393.75|
|    Big Data|    27395.0|
|Data Science|    30096.0|
+------------+-----------+

In [12]:
### Group By departments
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    4|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [14]:
## Direct Aggregate function
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     284144|
+-----------+

In [15]:
## Groupby operation
df_pyspark.groupBy('Name').max().show()

+--------+-----------+
|    Name|max(Salary)|
+--------+-----------+
|    Liza|      45000|
|     Luz|      38491|
|   Ramon|      20000|
|  Miriam|      12000|
|   Pedro|      30000|
|    Jose|      19511|
|Graciela|      19000|
|    Luis|      12064|
|  Moises|      24893|
|   Maria|      32637|
|   Karla|      30548|
+--------+-----------+